.InfoItem {
    width: 150px;
    background-color: #212529;
    border-radius: 6px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 15px;
    padding: 10px 20px;
    margin-top: 15px;
    animation: show 0.5s forwards;
}

.title {
    color: orange;
    margin-bottom: 15px;
}

.value {
    
}

@keyframes show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}